/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include "charybdis.dtsi"

&default_transform {
    col-offset = <6>;
}; 

&kscan0 {
    col-gpios
        = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

// 1. 하드웨어 SPI 완전히 차단 (n키 무한 입력의 근본 원인 제거)
&spi0 {
    status = "disabled";
};

// 2. 소프트웨어 SPI(비트뱅잉) 재정의
/ {
    spi_sw: spi-soft {
        compatible = "zephyr,spi-bitbang";
        #address-cells = <1>;
        #size-cells = <0>;
        // 순정 핀 번호를 그대로 사용하되, 소프트웨어적으로 제어해 간섭을 최소화합니다.
        clk-gpios  = <&gpio0 8  GPIO_ACTIVE_HIGH>;   // SCK (8번)
        mosi-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;  // MOSI (17번)
        miso-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;  // MISO (17번 공유)
        cs-gpios   = <&gpio0 20 GPIO_ACTIVE_LOW>;   // CS (20번) - 1.07번 쓰면 안 됨!

        trackball: trackball@0 {
            compatible = "pixart,pmw3610";
            reg = <0>;
            spi-max-frequency = <2000000>;
            irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            scroll-layers = <1>;
        };
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};
