/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include "charybdis.dtsi"

&default_transform {
    col-offset = <6>;
}; 

// [수정 포인트 1] n키(P0.29)를 배터리 감시로부터 완전히 해방시킵니다.
/ {
    /delete-node/ vbatt;
};

&kscan0 {
    col-gpios
        = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 이제 이 핀이 n키 전용으로 돌아옵니다.
        , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

// 1. 하드웨어 SPI 완전히 차단 (간섭 제거)
&spi0 {
    status = "disabled";
};

// 2. 소프트웨어 SPI(비트뱅잉) 재정의
/ {
    spi_sw: spi-soft {
        compatible = "zephyr,spi-bitbang";
        #address-cells = <1>;
        #size-cells = <0>;
        clk-gpios  = <&gpio0 8  GPIO_ACTIVE_HIGH>;   
        mosi-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;  
        miso-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;  
        cs-gpios   = <&gpio0 20 GPIO_ACTIVE_LOW>;   

        trackball: trackball@0 {
            compatible = "pixart,pmw3610";
            reg = <0>;
            spi-max-frequency = <2000000>;
            irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            scroll-layers = <1>;
        };
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};
